/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js
/public/js
/out
/.repl
*.log
/.env

/.cpcache/
/.rebel_readline_history
/.shadow-cljs/
/node_modules/
/dist/
.DS_Store
.*.icloud
.#*
