body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  background-color: #e6e3df;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

.container {
    display: flex;
    align-items: center;
}

.frame {
    width: 100%;
    height: 600px;
    overflow: hidden;
    /* box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1); */
}

.child {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
}

.parent {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.enter {
    opacity: 1
    transform: translate(0, 0);
}

.enter-left {
    opacity: 0.01;
    transform: translate(100%, 0);
}

.enter-right {
    opacity: 0.01;
    transform: translate(-100%, 0);
}

.enter-up {
    opacity: 0.01;
    transform: translate(0, 100%);
}

.enter-down {
    opacity: 0.01;
    transform: translate(0, -100%);
}

.enter-active {
    transform: translate(0, 0);
    opacity 1;
}

.exit-up-active {
    transform: translate(0, -100%);
    opacity 0.01;
}

.exit-up-down {
    transform: translate(0, 100%);
    opacity 0.01;
}

.exit-left-active {
    transform: translate(-100%, 0);
    opacity 0.01;
}

.exit-right-active {
    transform: translate(100%, 0);
    opacity 0.01;
}

.exit-active {
    transform: translate(0, 0);
    opacity 0.01;
}

.exit {
    opacity: 0;
}

.slide {
    width: 90%;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2),0px 3px 4px 0px rgba(0, 0, 0, 0.14),0px 3px 3px -2px rgba(0, 0, 0, 0.12);
    height: 90%;
}

h1, h2, h3 {
    width: 100%;
    color: #333;
    text-align: center;
}

h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}
