body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  background-color: #e6e3df;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* align-items: center; */
    /* justify-content: center; */
}

.frame {
    width: 600px;
    height: 600px;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
    flex: 1;
}

.slide {
    width: 100%;
    height: 100%;
}

.slide-base {
  transition: transform 500ms cubic-bezier(.645, .045, .355, 1);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
}

.slide-enter-left {
  transform: translate(100%, 0);
}

.slide-enter-right {
  transform: translate(-100%, 0);
}

.slide-enter-up {
  transform: translate(0, 100%);
}

.slide-enter-down {
  transform: translate(0, -100%);
}

.slide-enter-active {
  transform: translate(0, 0);
}

.slide-exit {
  transform: translate(0, 0);
}

.slide-exit-active-left {
  transform: translate(-100%, 0);
}
.slide-exit-active-right {
  transform: translate(100%, 0);
}
.slide-exit-active-up {
  transform: translate(0, -100%);
}

.slide-exit-active-down {
  transform: translate(0, 100%);
}

.slide-exit-done {
    display: none;
}
