body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  background-color: #e6e3df;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* align-items: center; */
    /* justify-content: center; */
}

.frame {
    width: 600px;
    height: 600px;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
    flex: 1;
}

.slide {
    width: 100%;
    height: 100%;
}

h1, h2, h3 {
    width: 100%;
    color: #333;
    text-align: center;
}

h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}
